{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>ARTICLE LIST</title>
</head>
<body>
    <!-- шапка -->
    <header class="heaDrr">
        <div class="top-menu">
            <a href="#"><img src="./fonts/logo2.jpg" alt="logo"  class="top-logo"></a>
            <nav style="display: inline-block; margin-left: 70%; margin-top: 32px;">
                <a href="#contact" class="top-nav">Контакты</a>
                <a href="#"class="top-nav">О нас</a>
            </nav>
        </div>
    </header>
    <!-- тело -->
    <section class="bodies">
        <div class="telo">
            <div class="zagolovok"><h3>Приветствую!</h3></div>
            <div class="osnova">
                {% for i in articles %}
                    <div class="block">
                        <div class="block-into">
                            <div class="block-into__img"><img src="{{i.content.url}}" alt="фото" class="image"></div>
                            <div class="block-into__text-block">
                                <div class="text-block__text">
                                    <h3>{{i.title}}</h3>
                                    <p>
                                        {{i.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="autor">
                                <p>{{i.created_by}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section style="display: flex; height: auto; width: auto; padding-bottom: 40px; justify-content: center; background-color: #b9c1cc;">
        <div style="width: 1140px; height: auto;"> 
            <h3 id="about_us" style="text-align: center; font-size: 30px; color: rgb(9, 9, 78);">Наш сайт</h3>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 20px; padding-top: 30px; text-align: center;">
                Мы - ведущая социальная сеть, стремящаяся к созданию пространства, 
                где люди могут свободно общаться, делиться своими идеями и увлечениями, и находить вдохновение. 
                Наша цель - объединить миллионы пользователей по всему миру в одном цифровом сообществе, где каждый чувствует 
                себя принятым и услышанным.
            </p>
        </div>
    </section>

    <!-- дно -->
    <footer class="downnn">
        <div id="contact" class="contacts">
            <dl>
                <dt>
                    Контакты:
                </dt>
                <dd>
                    <ul>
                        <li><a href="#"><img src="{% static 'fonts/wa.png' %}" alt="WhatsApp" class="img_icon"></a></li>
                        <li><a href="#"><img src="{% static 'fonts/inst.png' %}" alt="Instagram" class="img_icon"></a></li>
                        <li><a href="#"><img src="{% static 'fonts/teleg.png' %}" alt="Telegram" class="img_icon"></a></li>
                    </ul>
                </dd>
            </dl>

        </div>
    </footer>
</body>
</html>