* {
    margin: 0px;
    padding: 0px;
}

.heaDrr {
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    justify-content: center;
    
}

.top-menu {
    display: flex;
    position: relative;
    width: 1140px;
    height: 80px;
}

.top-logo {
    margin-top: 15px;
    width: 170px;
    height: 50px;
}

.top-nav {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 10px;
}

.bodies {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(173, 172, 172);
    margin: 0 auto;
    justify-content: center;
}

.telo {
    width: 1140px;
    height: auto;
    padding-bottom: 40px;
}

.zagolovok {
    text-align: center; 
    font-size: 40px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.osnova {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 30px));
    grid-gap: 30px;
    margin-top: 70px;
}

.block {
    background-color: whitesmoke;
    display: flex;
    width: 540px;
    height: 390px;
}

.block-into {
    padding: 20px;
}

.block-into__img {
    float: left;
    display: block;
    border-radius: 50%;
}

.block-into__text-block {
    display: flex;
    text-align: right;
    margin-left: 50%;
}

/* .text-block__text {

} */

.downnn {
    display: grid;
    width: 100%;
    height: 200px;
    background-color: rgb(65, 61, 61);
}

